/* styles.css */

/* Range Slider */
#range-slider {
  height: 24px;
  border-radius: 12px;
  background: rgba(174, 213, 247, 0.3);
}

#range-slider .range-slider__thumb {
  box-sizing: border-box;
  background: #aed5f7;
}

#range-slider .range-slider__thumb:hover {
  border: 4px solid #87b6df;
}

#range-slider .range-slider__range {
  background: linear-gradient(to right, #aed5f7, #aed5f7);
  background-size: 200% 100%;
  background-position: 50% 0;
}